<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Acceso Denegado</title>
</head>

<body>
	<div class="container">
		<!-- Barra de Navegacion -->
		<nav class="navbar navbar-dark bg-dark mb-2">
			<a class="navbar-brand" th:href="@{/}">Ver Lista de Clientes</a>
			<form th:action="@{/logout}" method="POST">
				<input type="submit" value="Salir"
					class="btn btn-danger float-right" />
			</form>
		</nav>

		<div class="alert alert-danger text-center col-xs-offset-1 col-xs-10">
			Acceso denegado</div>

	</div>
</body>

</html>