<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Agregar Cliente</title>
</head>

<body>
	<div class="container">
		<!-- Barra de Navegacion -->
		<nav class="navbar navbar-dark bg-dark mb-2">
			<a class="navbar-brand" th:href="@{/}">Ver Lista de Clientes</a>
			<form th:action="@{/logout}" method="POST">
				<input type="submit" value="Salir"
					class="btn btn-danger float-right" />
			</form>
		</nav>
		<h3>Nuevo Cliente</h3>
		<hr>

		<form action="#" th:action="@{/guardarCliente}" th:object="${cliente}"
			method="POST">

			<!-- Add hidden form field to handle the update -->
			<input type="hidden" th:field="*{id}" /> <input type="text"
				th:field="*{nombre}" class="form-control mb-4 col-4"
				placeholder="Nombre" required="required"> <input type="text"
				th:field="*{referencia}" class="form-control mb-4 col-4"
				placeholder="Codigo de referencia" required="required">

			<button type="submit" class="btn btn-info col-2">Crear</button>
		</form>

	</div>


</body>

</html>