<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Detalles Cliente</title>
</head>

<body>



<div class="container">

	<h3><span th:text="${cliente.nombre}">cliente</span> ( REF: <span th:text="${cliente.referencia}">numero de referencia</span> ) </h3>
	<a th:href="@{/}">Mostrar lista de clientes</a>
	
	<hr>

	<form action="#" th:action="@{/guardarComentario(clienteId=${cliente.id})}"
					 th:object="${comentario}" method="POST" class="form-inline">
		<textarea type="text" th:field="*{detalle}"
					class="form-control form-control-lg mb-4 col-8" placeholder="Nuevo Comentario">
		</textarea>
		
			<select class="custom-select ml-2" th:field="*{vendedor}">
				<option th:each="tempVendedor : ${vendedores}" 
						th:value="${tempVendedor.id}" 
						th:text="${tempVendedor.nombre}">vendedor</option>
			</select>

			<button type="submit" class="btn btn-success ml-2 col-1">Enviar</button>

	</form>
	
	
	<table class="table table-bordered table-striped table-hover text-center">
		<thead class="thead-dark">
			<tr>
				<th style="width: 10%">Fecha</th>
				<th style="width: 10%">Vendedor</th>
				<th>Comentario</th>
				<th style="width: 10%" sec:authorize="hasRole('JEFE')">Acciones</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempComent : ${comentarios}">
				<td th:text="${tempComent.timestamp}" />
				<td th:text="${tempComent.vendedor} ? ${tempComent.vendedor.nombre}: '-'" />
				<td th:text="${tempComent.detalle}" class="text-justify"/>				
				<td sec:authorize="hasRole('JEFE')">
					<!--  Update button/link -->
					<a th:href="@{/borrarComentario(comentarioId=${tempComent.id})}"
						class="btn btn-danger btn-sm"
						onClick="if (!(confirm('Esta seguro que desea borrar este comentario?'))) return false">
						Borrar
					</a>
				</td>
			</tr>
		</tbody>		
	</table>

</div>
</body>

</html>