<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Dispromed Clientes</title>
</head>

<body>

<div class="container">

	<h3>Clientes</h3>
	<form th:action="@{/logout}" method="POST">
		<input type="submit" value="Salir" class="btn btn-danger" />
	</form>
	<hr>
	
	<div class="container mb-3 row">
	<!-- Barra de busqueda -->
	<div class="col-lg">
	<form th:action="@{/buscarCliente}" method="GET">
		<input type="text" placeholder="Buscar cliente"  class="col-6"/>
		<input type="submit" value="Buscar" class="btn btn-info ml-2" />
	</form>
	</div>
	
	<!-- Boton para agregar cliente solo accesible por jefe -->
	<a th:href="@{/agregarCliente}"
		class="btn btn-success btn-sm ml-2 float-right"
		sec:authorize="hasRole('JEFE')">
		Agregar Cliente
	</a>	
	</div>
	
	<table class="table table-bordered table-striped table-hover text-center">
		<thead class="thead-dark">
			<tr>
				<th style="width: 10%">Codigo</th>
				<th>Cliente</th>
				<th style="width: 20%">Acciones</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempCliente : ${clientes}">
			
				<td th:text="${tempCliente.referencia}" />	
				<td th:text="${tempCliente.nombre}" class="text-justify"/>
				
				<td>
					<!--  Update button/link -->
					<a th:href="@{/detalles(clienteId=${tempCliente.id})}"
						class="btn btn-info btn-sm">
						Ver Cliente
					</a>
				</td>
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>